//
// Variables
//

//
// Subnav
//
$subnav-font-size:            $font-size-base * 0.875;
$subnav-line-height:          1.25;
$subnav-link-padding-x:       1rem;
$subnav-link-padding-y:       .5rem;
$subnav-border-color:         $white;
$subnav-color:                $white;
$subnav-hover-color:          rgba($black, .7);
$subnav-hover-bg:             #f2f2f2;
$subnav-active-color:         $white;
$subnav-active-bg:            $primary;



