//
// Variables
//
@import "variables";

//
// Import needed Bootstrap Package Files
//
@import "../../../../../bootstrap_package/Resources/Public/Scss/Theme/theme";
@import "../../../../../skom_sitepackage/Resources/Public/Scss/Theme/theme";

.body-bg {
    background-color: #f8f9fa;
}
.card-deck .card {
    max-width: 47%;
    margin-bottom: 1.5rem;
    .card-img {
        height: auto;
    }
}

.book {
    .media {
        margin-bottom: 1rem;
        .media-body {
            h5 {
                font-weight: bold;
            }
        }
    }
}

.navbar-mainnavigation .navbar-brand-image {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-default-transition:not(.navbar-transition) .navbar-nav>li>.nav-link {
    color: $gray-900 !important;
}
.navbar-default-transition:not(.navbar-transition) .navbar-nav>li>.nav-link:hover {
    color: $primary !important;
}

@media (min-width: 992px) {
    .navbar-mainnavigation>.container>.collapse>.navbar-nav:last-child {
        margin-left: 120px;
    }
}
.navbar-mainnavigation>.container>.collapse>.navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

.body-bg-top {
    padding-top: 100px !important;
}
@media (min-width: 990px) {
    .body-bg-top {
        padding-top: 0 !important;
    }
}


