//
// Variables
//
@import "variables";

//
// Import needed Bootstrap Package Files
//
@import "../../../../../bootstrap_package/Resources/Public/Scss/Theme/theme";
@import "../../../../../skom_sitepackage/Resources/Public/Scss/Theme/theme";

.card-deck .card {
    max-width: 47%;
    margin-bottom: 1.5rem;
    .card-img {
        height: auto;
    }
}

.navbar-mainnavigation.navbar-fixed-top {
    //border-bottom: solid 5px;
    //border-color: $primary;
    //background-color: $white;
}
.navbar-mainnavigation .navbar-brand-image {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-default-transition:not(.navbar-transition) .navbar-nav>li>.nav-link {
    color: $gray-900 !important;
}
.navbar-default-transition:not(.navbar-transition) .navbar-nav>li>.nav-link:hover {
    color: $primary !important;
}
.navbar-default-transition:not(.navbar-transition) {
    //background-color: $white !important;
}

.gallery-row {
    margin-top: -130px;
}

