<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cartbooks="http://typo3.org/ns/Extcode/CartBooks/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="related-book">
    <f:link.action extensionName="cartbooks" controller="Book" pluginName="books" action="show" pageUid="{settings.showPageUids}" arguments="{book:book}">
        <div class="book-title"><h5>{book.title}</h5></div>
    </f:link.action>
    <div class="book-subtitle">{book.subtitle}</div>
</div>

</html>
